<div class="card">
  <div class="card-header">
    <h4 class="card-title" fxLayoutAlign="center">{{ price.name }}</h4>
  </div>
  <div class="card-body">
    <i class="card-subtitle mb-2 text-muted" fxLayoutAlign="center">{{ price.target }}</i>
    <h5 class="card-title" fxLayoutAlign="center">{{ price.price }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><mat-icon>done</mat-icon>
      {{ price.numberOfUsers ? price.numberOfUsers.toString() + " Users" : "Unlimited Users"}}
    </li>
    <li class="list-group-item"><mat-icon>done</mat-icon>
      {{ price.numberOfProjects ? price.numberOfProjects.toString() + " Projects" : "Unlimited Projects"}}
    </li>
    <li class="list-group-item"><mat-icon>done</mat-icon>
      {{ price.numberOfRepositories ? price.numberOfRepositories.toString() + " Repositories" : "Unlimited Repositories"}}
    </li>
    <li class="list-group-item"><mat-icon>done</mat-icon>Technical Support</li>
  </ul>
  <div class="card-body" fxLayoutAlign="space-between">
    <a href="#" class="btn btn-sm btn-info">Contact</a>
    <a href="#" class="btn btn-sm btn-primary">Buy</a>
  </div>
</div>
