<div class="container">
  <!-- Problems -->
  <hr>
  <div fxLayoutAlign="center">
    <img src="http://localhost:8000/uploads/blog/images/logo_anyon-150x150.png">
  </div>
  <hr>
  <h3 fxLayoutAlign="center">NHỮNG VẤN ĐỀ BẠN THƯỜNG GẶP PHẢI KHI QUẢN LÝ TÀI LIỆU</h3>
  
  <mat-list>
    <mat-list-item *ngFor="let message of problems">
      <mat-icon matListIcon>lens</mat-icon>
      <h1 matLine> {{message.title}} </h1>
      <p matLine>
        <i> {{message.target}} </i>
      </p>
    </mat-list-item>
  </mat-list>
  
  <!-- <div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <app-text-card *ngFor="let item of problems" [item]="item" class="card" style="width: 300px;"></app-text-card>
  </div> -->

  <div class="row justify-content-center">
    <app-text-card *ngFor="let item of problems" [item]="item" class="card col-3" style="margin: 16px;"></app-text-card>
    <!-- <app-text-card *ngFor="let item of problems" [item]="item" class="card col-3 m-3 "></app-text-card> -->
  </div>


  <!-- Benefits -->
  <hr>
  <h3 fxLayoutAlign="center">TẠI SAO KHÁCH HÀNG LỰA CHỌN ANYON</h3>

  <mat-list>
    <mat-list-item *ngFor="let benefit of benefits">
      <mat-icon matListIcon>grade</mat-icon>
      <h1 matLine> {{benefit.title}} </h1>
      <p matLine>
        <i> {{benefit.content}} </i>
      </p>
    </mat-list-item>
  </mat-list>

  <div class="row justify-content-center">
    <app-text-card *ngFor="let item of benefits" [item]="item" class="card col-3" style="margin: 16px;"></app-text-card>
    <!-- <app-text-card *ngFor="let item of problems" [item]="item" class="card col-3 m-3 "></app-text-card> -->
  </div>



  <!-- Prices -->
  <hr>
  <h3 fxLayoutAlign="center">BẢNG GIÁ SẢN PHẨM</h3>

  <!-- <div fxLayoutAlign="center" fxLayoutGap="5px">
    <app-price-card *ngFor="let price of prices" [price]="price" fxFlex="30"></app-price-card>
  </div> -->

  <div class="row justify-content-center">
    <app-price-card *ngFor="let price of prices" [price]="price" class="col-3"></app-price-card>
  </div>

  
  <!-- Form contact -->
  <hr>
  <h3 fxLayoutAlign="center">CONTACT US</h3>

  <!-- <div fxLayoutAlign="center">
    <app-contact-form fxFlex="50"></app-contact-form>
  </div> -->

  <div class="row justify-content-center">
    <app-contact-form class="col-6"></app-contact-form>
  </div>
  <hr>


</div>



