<div class="container">
<!-- Problems -->
  <hr>
  <h3 fxLayoutAlign="center">Những vấn đề bạn thường gặp phải khi quản lý tài liệu</h3>
  
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="0px">
    <mat-card style="width: 300px;" *ngFor="let problem of problems">
        <mat-card-content fxLayoutAlign="center">
          {{ problem.title }}
        </mat-card-content>
        <mat-card-subtitle fxLayoutAlign="center">
          {{ problem.target }}
        </mat-card-subtitle>
    </mat-card>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let message of problems">
      <mat-icon matListIcon>lens</mat-icon>
      <h1 matLine> {{message.title}} </h1>
      <p matLine>
        <i> {{message.target}} </i>
      </p>
    </mat-list-item>
  </mat-list>

  
  <div class="row justify-content-center">
    <div class="card col-3"  *ngFor="let problem of problems" style="margin: 5px;">
      <div class="card-body">
        <h6 class="card-title">{{ problem.title }}</h6>
        <i class="card-subtitle mb-2 text-muted">{{ problem.target }}</i>
      </div>
    </div>
  </div>


  <!-- Benefits -->
  <hr>
  <h3 fxLayoutAlign="center">TẠI SAO KHÁCH HÀNG LỰA CHỌN ANYON</h3>

  <mat-list>
    <mat-list-item *ngFor="let benefit of benefits">
      <mat-icon matListIcon>grade</mat-icon>
      <h1 matLine> {{benefit.title}} </h1>
      <p matLine>
        <i> {{benefit.content}} </i>
      </p>
    </mat-list-item>
  </mat-list>

  <div class="row justify-content-center">
    <div class="card col-3"  *ngFor="let benefit of benefits" style="margin: 5px;">
      <div class="card-body">
        <h6 class="card-title">{{ benefit.title }}</h6>
        <i class="card-subtitle mb-2 text-muted">{{ benefit.content }}</i>
      </div>
    </div>
  </div>


  <!-- Prices -->
  <hr>
  <h3 fxLayoutAlign="center">BẢNG GIÁ SẢN PHẨM</h3>

  <div class="row justify-content-center">
    <div class="card col-3"  *ngFor="let price of prices" style="margin: 5px;">
      <div class="card-header">
        <h4 class="card-title" fxLayoutAlign="center">{{ price.name }}</h4>

      </div>
      <div class="card-body">
        <i class="card-subtitle mb-2 text-muted" fxLayoutAlign="center">{{ price.target }}</i>
        <h5 class="card-title" fxLayoutAlign="center">{{ price.price }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><mat-icon>done</mat-icon>
          {{ price.numberOfUsers ? price.numberOfUsers.toString() + " Users" : "Unlimited Users"}}
        </li>
        <li class="list-group-item"><mat-icon>done</mat-icon>
          {{ price.numberOfProjects ? price.numberOfProjects.toString() + " Projects" : "Unlimited Projects"}}
        </li>
        <li class="list-group-item"><mat-icon>done</mat-icon>
          {{ price.numberOfRepositories ? price.numberOfRepositories.toString() + " Repositories" : "Unlimited Repositories"}}
        </li>
        <li class="list-group-item"><mat-icon>done</mat-icon>Technical Support</li>
      </ul>
      <div class="card-body" fxLayoutAlign="space-between">
        <a href="#" class="btn btn-sm btn-info">Contact</a>
        <a href="#" class="btn btn-sm btn-primary">Buy</a>
      </div>
    </div>
  </div>

  
    <!-- Form contact -->
    <hr>
    <h3 fxLayoutAlign="center" >CONTACT US</h3>
  
    <!-- <div fxLayoutAlign="center"> -->
    <div class="row justify-content-center">
      <mat-card style="width: 50%;">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="input" class="form-control" id="name" placeholder="enter your name here...">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="your-email@domain.com">
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="input" class="form-control" id="phone" placeholder="your phone number">
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="input" class="form-control" id="address" placeholder="your address">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mb-2 float-right">Submit</button>
        </form>
      </mat-card>
    </div>
  

</div>

