<h1>Login</h1>

<form (ngSubmit)="login(loginForm.value.email, loginForm.value.password)" #loginForm="ngForm">
  <div>
    <input
      type="text"
      required
      [ngModel]="user?.email"
      name="email"
      #email="ngModel"
      placeholder="email"
    />
    <div [hidden]="email.valid || email.pristine" class="invalid">
      email is required
    </div>
  </div>

  <div>
    <input
      type="password"
      required
      [ngModel]="user?.password"
      name="password"
      #password="ngModel"
      placeholder="Password"
    />
    <div [hidden]="password.valid || password.pristine" class="invalid">
      Password is required
    </div>
  </div>

  <button type="submit" class="button" [disabled]="!loginForm.form.valid">
    Login
  </button>
</form>

<span style="color: red;">{{ errorMessage }}</span>
